<div aria-hidden="true" aria-labelledby="changePasswordModalTitle" class="modal fade" id="changePasswordModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordLongModal">Change user password</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" id="changePasswordForm" method="post" role="form" th:object="${passwordForm}">
                    <input class="form-control" th:field="${passwordForm.id}" type="hidden">
                    <input id="currentPassword" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                           th:value="blank" type="hidden"/>
                    <div class="form-group row" th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <label class="col-lg-3 col-form-label 	form-control-label">Current Password</label>
                        <div class="col-lg-9">
                            <input class="form-control" th:field="${passwordForm.currentPassword}" type="password">
                            <div class="alert-danger" th:errors="*{currentPassword}"
                                 th:if="${#fields.hasErrors('currentPassword')}">Password
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label 	form-control-label">New Password</label>
                        <div class="col-lg-9">
                            <input class="form-control" th:field="${passwordForm.newPassword}" type="password">
                            <div class="alert-danger" th:errors="*{newPassword}"
                                 th:if="${#fields.hasErrors('newPassword')}">Password
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Confirm Password</label>
                        <div class="col-lg-9">
                            <input class="form-control" th:field="${passwordForm.confirmPassword}" type="password">
                            <div class="alert-danger" th:errors="*{confirmPassword}"
                                 th:if="${#fields.hasErrors('confirmPassword')}">Confirm Password
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="alert alert-danger d-none text-center" id="changePasswordError">Change Password
                            Error
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onClick="submitChangePassword()" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function submitChangePassword() {
        var params = {};
        params["id"] = $("#id").val();
        params["currentPassword"] = $("#currentPassword").val();
        params["newPassword"] = $("#newPassword").val();
        params["confirmPassword"] = $("#confirmPassword").val();

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/editUser/changePassword",
            data: JSON.stringify(params),
            dataType: 'text',
            cache: false,
            timeout: 600000,
            success: function (data) {
                $("#changePasswordForm")[0].reset();

                $("#changePasswordError").addClass("d-none");
                $("#formSuccess").removeClass("d-none");
                $("#formSuccess").html("Password Actualizado exitosmante!.");

                $('#changePasswordModal').modal('toggle');
                setTimeout(function () {
                    $("#formSuccess").hide('slow');
                }, 2000);
            },
            error: function (e) {
                $("#changePasswordError").removeClass("d-none");
                $("#formSuccess").addClass("d-none");
                $("#changePasswordError").html(e.responseText);
            }
        });

    }
</script>