<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aspose Cells GridJs Collabrative Demo User Info Page</title>

       <!--JQUERY-->
    <script th:src="@{/jslib/jquery-3.7.1.min.js}"></script>

    <!-- FRAMEWORK BOOTSTRAP for page style-->
    <link th:href="@{/jslib/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/jslib/bootstrap.min.js}"></script>
   
    <script th:src="@{/jslib/popper.min.js}"></script>

 
    <!-- Fontawesome Solid Icons-->
    <link th:href="@{/jslib/fontawesome/solid.css}" rel="stylesheet">
    <script th:src="@{/jslib/fontawesome/all.js}"></script>

    <!-- Our css-->
    <link rel="stylesheet" th:href="@{/css/user-form.css}"
          type="text/css">

    <!-- DATA TABLE -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function () {
            // Make sure that the id you gave to the table is equal to the text after the # symbol
            $('#userList').DataTable();
        });
    </script>
</head>
<body>
<div class="container">
    <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a aria-controls="list" aria-selected="false" class="nav-link " data-toggle="tab" href="#list"
                   id="list-tab" role="tab" th:classappend=" ${listTab}">List</a>
            </li>
            <li class="nav-item">
                <a aria-controls="form" aria-selected="true" class="nav-link" data-toggle="tab" href="#form"
                   id="form-tab" role="tab" th:classappend=" ${formTab}">Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/logout}"><span
                        th:text="${#authentication.getPrincipal().getUsername()}"></span> - <span>logout  </span><span
                        class="float-right"><i class="fas fa-sign-out-alt"></i></span></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div aria-labelledby="list-tab" class="tab-pane fade show" id="list" role="tabpanel"
                 th:classappend=" ${listTab}">
                <div class="card">
                    <div class="card-header">
                        <h4>List Users</h4>
                    </div>
                    <div class="card-body">
                        <div th:insert="~{user-form/user-list.html}" th:remove="tag"></div>
                    </div>
                </div>
            </div>
            <div aria-labelledby="form-tab" class="tab-pane fade show" id="form" role="tabpanel"
                 th:classappend=" ${formTab}">
                <div class="card">
                    <div class="card-header">
                        <h4>User Information</h4>
                    </div>
                    <div class="card-body">
                        <div th:insert="~{user-form/user-form.html}" th:remove="tag"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:if="${editMode}" th:insert="~{user-form/change-password.html}" th:remove="tag"></div>
<div th:insert="~{user-form/confirm-delete-dialog.html}" th:remove="tag"></div>
</body>
</html>
