<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>demos index</title>
</head>
<body>
	<h2>Welcome to the Aspose.Cells.GridWeb Featured Demos!</h2>
	<h3>Note: These aspose-cells-grid support the following browsers:
		IE(or any IE kernel browsers), Mozilla, Mozilla Firefox and Opera. The
		IE 6.0 or new version is recommended.</h3>
	<ul>
	 
	
		<li>
			<a href="createcontent">Creating Contents</a>
			<div>
				<h5>Description</h5>
				This Demo creates a Worksheet from the scratch.
			</div>
		</li>
		<li>
			<a href="modes">Edit/ReadOnly Mode</a>
			<div>
				<h5>Description</h5>
				This Demo demonstrates the functioning of &quot;Edit&quot; and &quot;Read Only&quot; Modes of GridWeb Control.
			</div>
		</li>
		<li>
			<a href="sheets">Worksheets</a>
			<div>
				<h5>Description</h5>
				The Demo exhibits the manipulation (Add, Remove, Copy) of Sheets. 
			</div>
		</li>
		
		<li>
			<a href="webcells">Cells</a>
			<div>
				<h5>Description</h5>
				The Demo exhibits the manipulation (Insertion, Deletion) of rows/columns, merging cells and adding/removing comments.  
			</div>
		</li>
		
		<li>
			<a href="commandbutton">HeaderBar &amp; CommandButton</a>
			<div>
				<h5>Description</h5>
				This Demo covers some useful properties of GridWeb Control. 
			</div>
		</li>
		
		<li>
			<a href="freezepane">FreezePane Report</a>
			<div>
				<h5>Description</h5>
				This Demo Imports an Excel File from a source and demonstrates Freezing Panes. 
			</div>
		</li>
		
		<li>
			<a href="freezepane_custom">Freeze/Unfreeze Panes</a>
			<div>
				<h5>Description</h5>
				This Demo expresses customized Freezing Panes. 
			</div>
		</li>
		
		<li>
			<a href="hyperlink">Hyperlink &amp; CellImage</a>
			<div>
				<h5>Description</h5>
				The Demo presents the functionality of Hyperlink and CellImage Object.
			</div>
		</li>
		
		<li>
			<a href="customheader">Custom Headers</a>
			<div>
				<h5>Description</h5>
				This Demo customizes the Labels of Column Headers.
			</div>
		</li>
		
		<li>
			<a href="math">Math</a>
			<div>
				<h5>Description</h5>
				This Demo presents the exercise of Mathematical Functions.
			</div>
		</li>
		
		<li>
			<a href="textdata">Text &amp; Data</a>
			<div>
				<h5>Description</h5>
				The Demo covers the practice session of String Functions. 
			</div>
		</li>
		
		<li>
			<a href="statistical">Statistical</a>
			<div>
				<h5>Description</h5>
				The Demo presents the exercise of Statistical Functions. 
			</div>
		</li>
		
		<li>
			<a href="datetime">Date &amp; Time</a>
			<div>
				<h5>Description</h5>
				The Demo presents the exercise of Date and Time Functions. 
			</div>
		</li>
		
		<li>
			<a href="logical">Logical</a>
			<div>
				<h5>Description</h5>
				This Demo presents the Demonstration of Logical Functions. 
			</div>
		</li>
		
		<li>
			<a href="customformat">Custom Format</a>
			<div>
				<h5>Description</h5>
				This Demo presents an exercise of Custom Formats. 
			</div>
		</li>
		
		<li>
			<a href="dateandtime">Date &amp; Time Format</a>
			<div>
				<h5>Description</h5>
				This Demo covers the exercise of Date and Time Formats. 
			</div>
		</li>
		
		<li>
			<a href="changestyle">Skins</a>
			<div>
				<h5>Description</h5>
				This Demo covers the Demonstration of GridWeb Control’s preset styles and custom styles.
			</div>
		</li>
		
		<li>
			<a href="validation">Protection/Validation</a>
			<div>
				<h5>Description</h5>
				This Demo introduces the Data Validation capabilities of GridWeb Control.  
			</div>
		</li>
		
		<li>
			<a href="pagination">Paginating Sheet</a>
			<div>
				<h5>Description</h5>
				This Demo Imports an Excel File from a source and divides the contents of the sheet into different pages. 
			</div>
		</li>
		
		<li>
			<a href="sort">Sort</a>
			<div>
				<h5>Description</h5>
				The Demo represents the sorting capabilities of GriWeb Control.  
			</div>
		</li>
		
		<li>
			<a href="autofilter">AutoFilter</a>
			<div>
				<h5>Description</h5>
				This Demo Imports an Excel File from a source and Set the AutoFilter feature.   
			</div>
		</li>
	
 	
		<li>
			<a href="events">Handling Events</a>
			<div>
				<h5>Description</h5>
				This Demo Demonstrates Event Handling related to GridWeb Control. 
			</div>
		</li>
		
		<li>
			<a href="largerows">load large rows in async way</a>
			<div>
				<h5>Description</h5>
				This demo loads  a file with many rows,every time scroll it will load piece of rows for rendering.   
			</div>
		</li>
		<li>
			<a href="clientfunc">use client js function</a>
			<div>
				<h5>Description</h5>
				trigger client js call back on ajax after cell select,check console out put.   
			</div>
		</li>
		<li>
			<a href="controls">show controls</a>
			<div>
				<h5>Description</h5>
				display kinds of controls,this feature requires jquery ui lib.   
			</div>
		</li>
		<li>
			<a href="group">show group row and columns</a>
			<div>
				<h5>Description</h5>
				 This demo loads an existing file with group row and columns.
			</div>
		</li>
		<li>
			<a href="conditionformat">show condition format</a>
			<div>
				<h5>Description</h5>
				 This demo  shows Condition Format style .
			</div>
		</li>
		<li>
			<a href="chartrefresh">show chart</a>
			<div>
				<h5>Description</h5>
				 This demo  shows chart .
			</div>
		</li>
		<li>
			<a href="pivot">show pivot</a>
			<div>
				<h5>Description</h5>
				 This demo  shows show pivot .
			</div>
		</li>
	 
		<!-- <li>
			<a href="pages/format/"></a>
			<div>
				<h5>Description</h5>
				
			</div>
		</li> -->
	</ul>
</body>
</html>