<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aspose Cells GridJs Collaborative Demo: login page</title>

    <!--JQUERY-->
    <script th:src="@{/jslib/jquery-3.7.1.min.js}"></script>

    <!-- FRAMEWORK BOOTSTRAP for page style-->
    <link th:href="@{/jslib/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/jslib/bootstrap.min.js}"></script>

    <!-- Fontawesome Solid Icons-->
    <link th:href="@{/jslib/fontawesome/solid.css}" rel="stylesheet">
    <script th:src="@{/jslib/fontawesome/all.js}"></script>

    <!-- Our css-->
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">

</head>
<body>
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img th:src="@{/img/user.png}"/>
            </div>
            <form class="col-12" method="post" th:action="@{/login}">
                <div class="form-group" id="user-group">
                    <input class="form-control" name="username" placeholder="Username" type="text"/>
                </div>
                <div class="form-group" id="password-group">
                    <input class="form-control" name="password" placeholder="Password" type="password"/>
                </div>
                <button class="btn btn-primary" type="submit"><i class="fas fa-sign-in-alt"></i> Submit</button>
            </form>
            <div class="col-12 forgot">
<!--                 <p><a href="#">Remember password?</a></p> -->
                <p><a href="#" th:href="@{/signup}">Create User - Register</a>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${param.error}">
                Invalid username and password.
            </div>
            <div class="alert alert-success" role="alert" th:if="${param.logout}">
                You have been logged out.
            </div>
        </div>
    </div>
</div>
</body>
</html>