 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>  
<title th:text="${title}">  </title>
<div th:include="header :: gridheader"></div>

 <script  th:inline="javascript">
 function renderData(data)
	{    //the default stype part for  gridweb component  is Stylemycomponent
		$("#Stylemycomponent").remove(); 
		//need to render gridweb ,this will trigger reinit of gridweb component
		 //the default   name for  gridweb component is mycomponent
		gridwebinstance.remove("mycomponent") ;
		$("#gridweb").html(data);
	}
	function doClick(method) {
		$.post([[${servletname}]], {
			flag : method.id,
			gridwebuniqueid : $("#mycomponent").attr("webuniqueid")
		}, function(data) {
			renderData(data);
		}, "html");
	}
	
	//页面加载
	$(document).ready(function(){
		
		//loadHead();//
		
		var method = {id:[[${method}]]};
		doClick(method);
	});
</script>
</head>
<body>
	<div>
		<p th:utext="  ${info} ">
           
        </p>
	</div>

	<div>
		<table>
			<tr>
				<th>Reload Data:</th>
				<td><input  th:id=" ${method}" type="button" value="Reload" onClick="doClick(this);"/></td>
			</tr>
		</table>
	</div>
	
	<div id="gridweb"></div>
</body>
</html>